/* COLORS
Blue: #315efc
Skyblue: #33bbff
Black: #252525
Aluminium: #eef2f4, rgb(238, 242, 244)
White: #FFFFFF
*/

/* Global Styles */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #315efb;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}


h1, h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

h1 {
    line-height: 1.1em;
    font-size: 80px;
}

h2 {
    font-size: 40px;
    margin-top: 0;
}

#descr {
    margin: 10 auto;
    text-align: center;
    font-size: 150%;
}

a {
    color: #FFFFFF;
}

a:hover {
    text-decoration: none;
    color: #eef2f4;
}

.content-wrap {
    max-width: 750px;
    margin: 0 auto;
    padding: 30px 50px;
    overflow: auto;
}

.uppercase {
    text-transform: uppercase;
}

.btn {
    text-decoration: none;
    background: #33bbff;
    width: 120px;
    height: 40px;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
}

/* Header and Footer */

header, footer {
    background: #315efb;
    color: #FFFFFF;
}

/* Navigation */

nav {
    text-align: center;
    background: #342E37;
    position: fixed;
    top: 0;
    width: 100%;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

.old-hp {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  background: #A02481;
}

/* header */

header {
    padding-top: 50px;
    padding-bottom: 20px;
    position: relative;
}

header h1, header h2 {
    margin: 0;
    text-align: center;
}

header p {
    text-align: justify;
}

.profile-img {
    border-radius: 50px;
}

.download {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 53%;
    background-color: rgb(160, 160, 160);
    color: #808080;
    text-align: center;
    padding-bottom: 40px
}

/* footer */

footer {
    text-align: center;
}

.contact-info a {
    border: 1px solid white;
    padding: 7px 10px;
    display: inline-block;
    font-size: 2em;
    margin: 0 5px 20px 5px;
}

.contact-info a:hover {
    color: #33bbff;
}

/* IT Skills */

.container {
    width: 100%;
    background-color: #ddd;
    margin: 5px 0;
}

.it-skills h3 {
    font-size: 28px;
    font-weight: 700;
    margin: 15px auto;
}

.skills-done {
    margin-top: -20px;
}

.skills-done, .skills-learning {
    margin-bottom: 30px;
}

.it-skills p {
    font-weight: 700;
}

.skills {
    text-align: right;
    padding-right: 20px;
    line-height: 30px;
    color: white;
}

.html {width: 100%; background-color: #E34B2D;}
.css {width: 100%; background-color: #2955DE;}
.git {width: 100%; background-color: #292D31;}
.js {width: 100%; background-color: #D5B745;}
.selenium {width: 100%; background-color: green;}
.sqa {width: 50%; background-color: dodgerblue;}
.responsive {width: 5%; background-color: gray; padding-right: 5px;}
.bootstrap {width: 0%; background-color: gray;}
.react {width: 0%; background-color: gray;}
.sass {width: 0%; background-color: gray;}
.webpack {width: 0%; background-color: gray;}

/* Projects */
.projects {
    background-color: #f7f7f7;
}

.projects-list {
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.project-col {
    width: 200px;
    text-align: center;
}

.project-col a {
    color: #000000;
}

h3 ~ p {
    margin: 0;
}

/* Media Queries */

@media (min-width: 900px) {
    .col-narrow {
        width: 30%;
        float: left;
        clear: both;
    }

    .col-wide {
        width: 70%;
        float: left;
        padding-left: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 899px) {
    header {
        text-align: center;
        padding-bottom: 30px;
    }
    .profile-img {
        width: 100px;
    }
    h1 {
        font-size: 45px;
    }
    h2 {
        font-size: 25px;
    }
    .download {
        margin: 0 auto;
    }
}

@media (max-width: 750px) {
  .old-hp {
    display: block;
    position: relative;
  }
  header {
    padding-top: 70px;
  }
}

@media (max-width: 430px) {
  header {
    padding-top: 100px;
  }
}
